.realtors {
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end;
    padding: 3rem;

    display: grid;
    align-content: center;
    justify-content: center;
    grid-row-gap: 2rem;
    justify-items: center;
}

.realtors__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;
    align-items: center;
}

.realtors__img {
    display: block;
    border-radius: 50%;
    width: 7rem;
}

.realtors__details {
    
}

.realtors__sold {
    text-transform: uppercase;
    color: $color-grey-light-2;
    margin-top: -3px;
}