.sidebar {
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;

    display: grid;
    justify-content: center;
}

.sidebar__button {
    border: 0;
    border-radius: none;
    background-color: #fff;
    height: 2px;
    width: 4rem;
    margin-top: 4rem;

    &::before,
    &::after {
        background-color: #fff;
        height: 2px;
        width: 4rem;
        content: '';
        display: block;
    }

    &::before { transform: translateY(-1.5rem); }
    &::after { transform: translateY(1.3rem); }
}